:root {
    --bs-body-font-family:"Noto Sans JP", sans-serif;
    --red:rgba(226, 71, 75);
    --white:rgba(255, 255, 255);
    }
/*body{*/
/*    font-family: var(--bs-body-font-family);*/
/*    }*/
html{font-size: 0.9375rem;}
.cw{color:var(--white);}
.cred{color:var(--red);}
.bred{background-color:var(--red);}
.bw{background-color:var(--white);}
.jc {text-align: justify;}
.serv svg {
    font-size: 5rem;
    background: var(--red);
    padding: 5px;
    border-radius: 50%;
    color:var(--white);
    }
.serv, .serb {text-align: center;}
.serv > .col > div {
    padding: 20px 4px;
    box-shadow: 6px 6px 0 0 var(--red);
    height: 100%;
    }
.serb > .col > div {
    text-align: center;
    margin-bottom: 30px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.11);
    box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.11);
    min-height: 250px;
    height: 100%;
    }
.serb > .col > div:hover{color:#fff;}
.serb > .col > div:hover::before {
    height: 100%;
    }
.serb > .col > div::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 0%;
    background: var(--red);
    border-radius: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 10px;
    }
.serb svg {
    font-size: 5rem;
    background: var(--red);
    padding: 10px;
    color:var(--white);
    }
.choose-content {
    position: relative;
    margin-top: 40px;
    padding: 20px 40px 20px 120px;
    background-color: #f5f9fd;
    border-radius: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 1;
    }
.choose-content::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 0%;
    height: 100%;
    background: var(--red);
    border-radius: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 10px;
    }
.choose-content .icon {
    position: absolute;
    left: 30px;
    top: 26px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    }
.choose-content .icon svg {
    display: inline-block;
    height: 70px;
    width: 70px;
    line-height: 70px;
    background-color: var(--red);
    color: #ffffff;
    text-align: center;
    border-radius: 10px;
    font-size: 35px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    }
.choose-content > h3{color: var(--red);}
.choose-content:hover > h3{color: var(--white);}
.choose-content p {
    font-size: 13px;
    text-align: justify;
    }
.choose-content:hover {
    -webkit-box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.11);
    box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.11);
    color:#fff;
    }
.choose-content:hover::before {
    width: 100%;
    }

@media (min-width: 991px) {
    .f6vw {
        font-size: 6vw;
        }
    }